# Jupyter
*.ipynb
*.ipynb_checkpoints

# Python cache
__pycache__/

# Virtual environment
.venv/

# Data and models
dataset/
preprocess_csv/
model/
*.npy
*.pth

# Unused files
./.~forgetoriginal.py
continual.py
forget.py
forgetv1.py
main.py
preprocessnb.ipynb
test.np
